<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.PazienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DottoreFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.DottoreFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FarmaciaFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.FarmaciaFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ChsFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.ChsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SpeckFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.SpeckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BaseFilter</filter-name>
        <filter-class>it.unitn.disi.wp.servizioSanitario.filters.BaseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>HomePaziente</servlet-name>
        <servlet-name>ImpostazioniPaziente</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ChsFilter</filter-name>
        <url-pattern>/restricted/chs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FarmaciaFilter</filter-name>
        <url-pattern>/restricted/farmacia/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DottoreFilter</filter-name>
        <url-pattern>/restricted/dottore/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteFilter</filter-name>
        <url-pattern>/restricted/paziente/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/restricted/dottore/base/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SpeckFilter</filter-name>
        <url-pattern>/restricted/dottore/specialista/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Dettaglio_esame</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.Dettaglio_esame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_Paziente</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.Home_Paziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicetta</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioRicetta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBase</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioVisitaBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeck</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioVisitaSpeck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpostazioniPaziente</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.ImpostazioniPaziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoMedicoPerPaziente</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.InfoMedicoPerPaziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaTicket</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.VisualizzaTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaLista</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.VisualizzaLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsame</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioEsame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePaziente</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.HomePaziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chi</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Chi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cosa</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Cosa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Terms</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Terms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Privacy</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Privacy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBaseToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioVisitaBaseToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetImpostazioniNotifiche</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.SetImpostazioniNotifiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlloCookie</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.ControlloCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servizi</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.Servizi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperoPassword</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.RecuperoPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvioMailRecupero</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.InvioMailRecupero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioPassword</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.CambioPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlloCodiceMail</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.ControlloCodiceMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDottoreBase</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.HomeDottoreBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDottoreSpeck</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.HomeDottoreSpeck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.HomeDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeckDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioVisitaSpeckDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeckDottoreToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioVisitaSpeckDottoreToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompilaVisitaSpeck</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.CompilaVisitaSpeck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaEsitoSpeck</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.SalvaEsitoSpeck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompilaVisitaBase</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.CompilaVisitaBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsameDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioEsameDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioPaziente</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioPaziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicettaDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioRicettaDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBaseDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioVisitaBaseDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovaDisposizione</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.NuovaDisposizione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisposizionePagata</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DisposizionePagata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiamaLogin</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsHomePage.ChiamaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicettaToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioRicettaToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaAnamnesiVisit</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.SalvaAnamnesiVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RimuoviDisposition</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.RimuoviDisposition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovaVisitaDottore</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.NuovaVisitaDottore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicettaDottoreToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioRicettaDottoreToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBaseDottoreToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioVisitaBaseDottoreToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhoto</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.UploadPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePhoto</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.RemovePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaNuovaDisposizione</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.SalvaNuovaDisposizione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompilaEsame</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.CompilaEsame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovoRichiamo</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.NuovoRichiamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsameToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioEsameToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeckToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.DettaglioVisitaSpeckToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeFarmacia</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsFarmacia.HomeFarmacia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRicette</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsFarmacia.VisualizzaRicette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErogaRicetta</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsFarmacia.ErogaRicetta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsameDottoreToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsDottore.DettaglioEsameDottoreToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.HomeChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioPazienteChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioPazienteChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaRisultatoEsame</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.SalvaRisultatoEsame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SegnaEsameComeEffettuato</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.SegnaEsameComeEffettuato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicetteEvaseChsToXLS</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.RicetteEvaseChsToXLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaNuovoRichiamo</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.SalvaNuovoRichiamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicetteEvaseFarmaciaToXLS</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsFarmacia.RicetteEvaseFarmaciaToXLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiaMedicoBase</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.CambiaMedicoBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformazioniEsami</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.InformazioniEsami</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prenotazione</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.Prenotazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaPrenotazione</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.ConfermaPrenotazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotaVisita</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.PrenotaVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicevutaTicketToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsPaziente.RicevutaTicketToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsameChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioEsameChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicettaChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioRicettaChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBaseChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioVisitaBaseChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeckChs</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioVisitaSpeckChs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioEsameChsToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioEsameChsToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioRicettaChsToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioRicettaChsToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaBaseChsToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioVisitaBaseChsToPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioVisitaSpeckChsToPDF</servlet-name>
        <servlet-class>it.unitn.disi.wp.servizioSanitario.servletsCHS.DettaglioVisitaSpeckChsToPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dettaglio_esame</servlet-name>
        <url-pattern>/restricted/Dettaglio_esame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicetta</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioRicetta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBase</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioVisitaBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeck</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioVisitaSpeck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpostazioniPaziente</servlet-name>
        <url-pattern>/restricted/paziente/ImpostazioniPaziente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoMedicoPerPaziente</servlet-name>
        <url-pattern>/restricted/paziente/InfoMedicoPerPaziente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaTicket</servlet-name>
        <url-pattern>/restricted/paziente/VisualizzaTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaLista</servlet-name>
        <url-pattern>/restricted/paziente/VisualizzaLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsame</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioEsame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePaziente</servlet-name>
        <url-pattern>/restricted/paziente/HomePaziente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chi</servlet-name>
        <url-pattern>/Chi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cosa</servlet-name>
        <url-pattern>/Cosa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Terms</servlet-name>
        <url-pattern>/Terms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Privacy</servlet-name>
        <url-pattern>/Privacy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBaseToPDF</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioVisitaBaseToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetImpostazioniNotifiche</servlet-name>
        <url-pattern>/restricted/paziente/SetImpostazioniNotifiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlloCookie</servlet-name>
        <url-pattern>/ControlloCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servizi</servlet-name>
        <url-pattern>/Servizi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/restricted/paziente/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperoPassword</servlet-name>
        <url-pattern>/restricted/RecuperoPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvioMailRecupero</servlet-name>
        <url-pattern>/restricted/InvioMailRecupero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioPassword</servlet-name>
        <url-pattern>/restricted/CambioPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlloCodiceMail</servlet-name>
        <url-pattern>/restricted/ControlloCodiceMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDottoreBase</servlet-name>
        <url-pattern>/restricted/dottore/base/HomeDottoreBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDottoreSpeck</servlet-name>
        <url-pattern>/restricted/dottore/specialista/HomeDottoreSpeck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDottore</servlet-name>
        <url-pattern>/restricted/dottore/HomeDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeckDottore</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioVisitaSpeckDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeckDottoreToPDF</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioVisitaSpeckDottoreToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompilaVisitaSpeck</servlet-name>
        <url-pattern>/restricted/dottore/specialista/CompilaVisitaSpeck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaEsitoSpeck</servlet-name>
        <url-pattern>/restricted/dottore/specialista/SalvaEsitoSpeck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompilaVisitaBase</servlet-name>
        <url-pattern>/restricted/dottore/base/CompilaVisitaBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsameDottore</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioEsameDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioPaziente</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioPaziente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicettaDottore</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioRicettaDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBaseDottore</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioVisitaBaseDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovaDisposizione</servlet-name>
        <url-pattern>/restricted/dottore/base/NuovaDisposizione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisposizionePagata</servlet-name>
        <url-pattern>/restricted/dottore/specialista/DisposizionePagata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiamaLogin</servlet-name>
        <url-pattern>/ChiamaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicettaToPDF</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioRicettaToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaAnamnesiVisit</servlet-name>
        <url-pattern>/restricted/dottore/base/SalvaAnamnesiVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RimuoviDisposition</servlet-name>
        <url-pattern>/restricted/dottore/base/RimuoviDisposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovaVisitaDottore</servlet-name>
        <url-pattern>/restricted/dottore/base/NuovaVisitaDottore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicettaDottoreToPDF</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioRicettaDottoreToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBaseDottoreToPDF</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioVisitaBaseDottoreToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhoto</servlet-name>
        <url-pattern>/restricted/paziente/UploadPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePhoto</servlet-name>
        <url-pattern>/restricted/paziente/RemovePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaNuovaDisposizione</servlet-name>
        <url-pattern>/restricted/dottore/base/SalvaNuovaDisposizione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompilaEsame</servlet-name>
        <url-pattern>/restricted/chs/CompilaEsame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovoRichiamo</servlet-name>
        <url-pattern>/restricted/chs/NuovoRichiamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsameToPDF</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioEsameToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeckToPDF</servlet-name>
        <url-pattern>/restricted/paziente/DettaglioVisitaSpeckToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeFarmacia</servlet-name>
        <url-pattern>/restricted/farmacia/HomeFarmacia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRicette</servlet-name>
        <url-pattern>/restricted/farmacia/VisualizzaRicette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErogaRicetta</servlet-name>
        <url-pattern>/restricted/farmacia/ErogaRicetta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsameDottoreToPDF</servlet-name>
        <url-pattern>/restricted/dottore/DettaglioEsameDottoreToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeChs</servlet-name>
        <url-pattern>/restricted/chs/HomeChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioPazienteChs</servlet-name>
        <url-pattern>/restricted/chs/DettaglioPazienteChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaRisultatoEsame</servlet-name>
        <url-pattern>/restricted/chs/SalvaRisultatoEsame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaNuovoRichiamo</servlet-name>
        <url-pattern>/restricted/chs/SalvaNuovoRichiamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteEvaseChsToXLS</servlet-name>
        <url-pattern>/restricted/chs/RicetteEvaseChsToXLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicetteEvaseFarmaciaToXLS</servlet-name>
        <url-pattern>/restricted/farmacia/RicetteEvaseFarmaciaToXLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiaMedicoBase</servlet-name>
        <url-pattern>/restricted/paziente/CambiaMedicoBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformazioniEsami</servlet-name>
        <url-pattern>/restricted/paziente/InformazioniEsami</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prenotazione</servlet-name>
        <url-pattern>/restricted/paziente/Prenotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaPrenotazione</servlet-name>
        <url-pattern>/restricted/paziente/ConfermaPrenotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SegnaEsameComeEffettuato</servlet-name>
        <url-pattern>/restricted/chs/SegnaEsameComeEffettuato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotaVisita</servlet-name>
        <url-pattern>/restricted/paziente/PrenotaVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicevutaTicketToPDF</servlet-name>
        <url-pattern>/restricted/paziente/RicevutaTicketToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsameChs</servlet-name>
        <url-pattern>/restricted/chs/DettaglioEsameChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicettaChs</servlet-name>
        <url-pattern>/restricted/chs/DettaglioRicettaChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBaseChs</servlet-name>
        <url-pattern>/restricted/chs/DettaglioVisitaBaseChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeckChs</servlet-name>
        <url-pattern>/restricted/chs/DettaglioVisitaSpeckChs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioEsameChsToPDF</servlet-name>
        <url-pattern>/restricted/chs/DettaglioEsameChsToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioRicettaChsToPDF</servlet-name>
        <url-pattern>/restricted/chs/DettaglioRicettaChsToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaBaseChsToPDF</servlet-name>
        <url-pattern>/restricted/chs/DettaglioVisitaBaseChsToPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioVisitaSpeckChsToPDF</servlet-name>
        <url-pattern>/restricted/chs/DettaglioVisitaSpeckChsToPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pagine/err404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/pagine/err403.jsp</location>
    </error-page>
    <error-page>
        <location>/WEB-INF/pagine/error.jsp</location>
    </error-page>
</web-app>
